*{
    margin: 0;
}
.a0{
    padding: 10px 10px;
    background-color: #FAF6F2;
}
.a1{
    gap: 20%;
    height: 80px;
    display: flex;
    color: white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    background-color: #A98C64;
}
.a2{
    width: 100px;
    height: 40px;
    color: white;
    font-size: 30px;
    border: 0 solid #A98C64;
    background-color: #A98C64;
    text-decoration: underline;
}
.a3{
    gap: 10px;
    display: flex;
    align-items: center;
}
.a4{
    gap: 40px;
    display: flex;
    align-items: center;
}
.a5{
    gap: 60px;
    display: flex;
    justify-content: center;
}
.size-6{
    width: 40px;
    fill: black;
}
ul{
    gap: 30px;
    display: flex;
    font-size: 30px;
    list-style: none;
    align-items: center;
}
.a7{
    padding: 50px 0;
}
.a8{
    color: #4D8F76;
    text-decoration: underline;
}
.a9{
    color: #4D8F76;
}
.a10{
    font-size: 60px;
}
.a11{
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}
.a12{
    width: 200px;
    height: 40px;
    color: white;
    border: 0 solid;
    border-radius: 30px;
    background-color: #4D8F76;
}
.a13{
    width: 200px;
    height: 40px;
    color: #4D8F76;
    border-radius: 30px;
    background-color: white;
    border: 1px solid #4D8F76;
}
.a14{
    margin-top: 300px;
    margin-left: 50px;
}
.a16{
    margin-top: -800px;
    margin-left: -60px;
}
.a17{
    font-size: 20px;
    padding: 50px 0;
    color: #493E3E;
}
.a18{
    gap: 15%;
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}
.a19{
    font-size: 20px;
    color: #493E3E;
}
.a20{
    font-size: 48px;
}
.a22{
    display: none;
}
.a23{
    width: 100%;
    height: 200px;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    background-color: #E2DDC0;
}
.a24{
    width: 126px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a25{
    width: 106px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a26{
    width: 106px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a27{
    width: 115px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a28{
    width: 100px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a29{
    width: 120px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a30{
    width: 150px;
    height: 48px;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    background-color: #4D8F76;
}
.a31{
    gap: 120px;
    display: flex;
    padding: 20px 0;
}
.sec-5 {
  width: 100%;
  height: 1300px;
  border-radius: 30px;
  background-color: white;
}
.sec-5h1 {
  padding: 40px;
}
.borderr {
  border: 1px solid #a98c64;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border-width: 1px;
  text-align: center;
  padding: 40px;
  font-size: 20px;
}
.borders {
  display: flex;
  justify-content: center;
  gap: 8%;
}
.borderrs {
  border: 1px solid #a98c64;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border-width: 1px;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  background-color: #a98c64;
}
.borderss {
  display: flex;
  justify-content: center;
  gap: 8%;
  padding-top: 40px;
}
.telefon {
  padding-top: 40px;
  color: #493e3e;
  display: flex;
  align-items: center;
  gap: 40px;
}
.a1a5a6 {
  border: 1px solid #dfccb7;
  border-radius: 60px;
  width: 100px;
  height: 30px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 9px;
}
.div5 {
  padding: 10px;
  background-color: #dfccb7;
  border-radius: 50%;
  text-align: center;
}
.bp {
  padding-top: 40px;
}
.modes {
  width: 90px;
  height: 20px;
  border-radius: 40px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 23px;
  padding-bottom: 8px;
  padding-left: 26px;
  gap: 10px;
  border: 1px solid #a98c64;
}
.modess {
  width: 100px;
  height: 20px;
  border-radius: 40px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 23px;
  padding-bottom: 8px;
  padding-left: 20px;
  gap: 10px;
  border: 1px solid #a98c64;
  background-color: #a98c64;
}
.ponidelniki {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.imegess {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.foter {
  gap: 200px;
  background-color: #a2be95;
  width: 100%;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
}
.fter {
  width: 338px;
  height: 48px;
  border-radius: 40px;
  padding-top: 9px;
  padding-right: 26px;
  padding-bottom: 9px;
  padding-left: 26px;
  gap: 10px;
  background-color: #4d8f76;
  border: #4d8f76;
  color: white;
}
.classs {
  padding-top: 40px;
  padding-left: 20px;
  align-items: center;
}
.classss{
  padding-left: 60px;
  padding-top: 10px;
}
.a37{
    gap: 20px;
    display: flex;
    align-items: center;
}
.a38{
    gap: 10%;
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}
.a39{
    gap: 200px;
    display: flex;
    padding: 50px 0;
    color: #4D8F76;
    align-items: center;
    justify-content: center;
}
.a40{
    width: 50px;
}
.a41{
    width: 80px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    background-color: white;
}
.a42{
    gap: 50px;
    display: flex;
    align-items: center;
}
.a44{
    gap: 10%;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4EDDE;
}
.a45{
    width: 307px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid #1EB949;
}
.a46{
    width: 307px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid #34A2FE;
}
.a47{
    width: 307px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid #FFBC4F;
}
.a48{
    width: 307px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid #FC5239;
}
.a49{
    color: #493E3E;
}
.a50{
    margin-top: 300px;
}
.a51{
    width: 307px;
    height: 60px;
    color: white;
    font-size: 20px;
    border: 0px solid;
    border-radius: 30px;
    background-color: #4D8F76;
}
.a52{
    gap: 5%;
    display: flex;
    padding: 50px 0;
    justify-content: center;
}
.a53{
    width: 160px;
    height: 47px;
    border: 1px solid;
    border-radius: 30px;
}
.a54{
    width: 254px;
    height: 47px;
    border: 0px solid;
    border-radius: 30px;
    background-color: #DFCCB7;
}
.a55{
    gap: 1150px;
    width: 90%;
    height: 150px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.size-6{
    width: 50px;
    height: 50px;
}
.a56{
    display: flex;
    padding: 50px 0;
    justify-content: center;
}
.a57{
    gap: 650px;
    width: 90%;
    height: 200px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.a58{
    gap: 1050px;
    width: 90%;
    height: 200px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.a59{
    gap: 800px;
    width: 90%;
    height: 200px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.a60{
    gap: 50px;
    width: 100%;
    height: 550px;
    display: flex;
    color: white;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: #A2BE95;
}
.a61{
    width: 307px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    border: 0px solid;
}
.a62{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-self: end;
}
.a63{
    width: 516px;
    height: 675px;
}
.a64{
    margin-top: -122px;
}
.a65{
    padding: 150px 0;
}
.a66{
    width: 80%;
    margin: auto;
}
.a67{
    gap: 50px;
    width: 100%;
    height: 150px;
    display: flex;
    color: white;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: #B89683;
}
.a68{
    gap: 10px;
    display: flex;
    align-items: center;
}
.a69{
    width: 352px;
    height: 40px;
    border: 0px solid;
    border-radius: 30px;
}
.a70{
    gap: 50px;
    display: flex;
    align-items: center;
}
.a71{
    background-color: #FAF6F2;
    border: 0px solid;
}
.a72{
    padding: 10px 0;
}
.a73{
    gap: 250px;
    display: flex;
    justify-content: center;
}
.a74{
    width: 48px;
    height: 48px;
    display: flex;
    color: #4D8F76;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: #4D8F76;
}
.a75{
    gap: 30px;
    align-items: center;
    display: flex;

}
.a76{
    display: none;
}
.a98{
    display: block;
}
@media (max-width: 640px) {
    .a0{
        flex: wrap;
        flex-direction: column;
    }
    ul{
        display: none;
    }
    .a4{
        display: none;
    }
    .a3{
    gap: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    }
    .a8{
        display: none;
    }
    .a10{
        font-size: 45px;
    }
    .a11{
        flex-direction: column;
    }
    .a14{
        width: 145px;
        margin-left: -00px;
        margin-top: 200px;
    }
    .a15{
        width: 290px;
        margin-left: 100px;
        margin-top: -600px;
    }
    .a16{
        width: 62px;
        margin-left: 300px;
        margin-top: -550px;
    }
    .a18{
        flex-direction: column;
    }
    .a20{
        text-align: center;
        font-size: 40px;
    }
    .a21{
        display: none;
    }
    .a22{
        display: flex;
    }
.a23{
    flex-wrap: wrap;
    width: 100%;
    height: 1400px;
    border-radius: 30px;
    background-color: #E2DDC0;
}
.a24{
    width: 126px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a25{
    width: 106px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a26{
    width: 106px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a27{
    width: 115px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a28{
    width: 100px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a29{
    width: 120px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
}
.a30{
    width: 150px;
    height: 48px;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    background-color: #4D8F76;
}
.a31{
    padding: 50px 0;
    width: 30%;
    margin: auto;
    flex-wrap: wrap;
}
.a32{
    width: 100%;
    height: 1400px;
    border-radius: 30px;
    background-color: white;
}
.a34{
    text-align: center;
    flex-direction: column;
}
.a36{
    flex-direction: column;
}
.a76{
    display: block;

    justify-content: center;
}
.a77{
    gap: 10px;
    display: flex;
    padding: 20px 0;
    align-items: center;
}
.a78{
    text-align: center;
}
.a79{
    color: red;
    text-align: center;
}
.borders{
    display: flex;
}
.borderrs{
  border: 1px solid #a98c64;
  width: 80px;
  height: 50px;
  border-radius: 30px;
  border-width: 1px;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  background-color: #a98c64;
}
    .borderr{
        width: 80px;
        height: 50px;
    }
    .ponidelniki{
        gap: 10px;
    }
    .foter{
        flex-wrap: wrap;
        height: 500px;
    }
    .a37{
        margin-top: -300px;
        text-align: center;
        flex-wrap: wrap;
    }
    .a80{
        display: flex;
        justify-content: center;
        margin-left: 140px;
    }
    .a38{
        padding: 40px 0;
        text-align: center;
       flex-direction: column;
    }
    .a81{
        flex-wrap: wrap;
    }
    .a82{
        padding: 30px 0;
        color: #493E3E;
    }
    .a83{
        display: flex;
        justify-self: end;
    }
    .a44{
        padding: 50px 0;
        height: 1050px;
        text-align: center;
        flex-wrap: wrap;
    }
    .a50{
        margin-top: -50px;
    }
    .a86{
        width: 100%;
    }
    .a87{
        flex-wrap: wrap;
    }
    .a88{
        width: 93%;
        height: 400px;
        padding: 50px 0;
        color: white;
        border-radius: 30px;
        background-color: #EA9DA3;
    }
    .a89{
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
    .a90{
        width: 113px;
        height: 113px;
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-left: 110px;
        border-radius: 50%;
        background-color: white;
    }
    .a52{
        flex-wrap: wrap;
    }
    .a91{
        width: 195px;
        height: 48px;
        color: white;
        border-radius: 30px;
        border: 2px solid white;
        background-color: #EA9DA3;
    }
    .a92{
        display: flex;
        margin-top: 150px;
        justify-content: center;
    }
    .a55{
        gap: 10px;
    }
    .a57{
        width: 100%;
        height: 300px;
        gap: 10px;
    }
    .a58{
        gap: 5px;
    }
    .a59{
        gap: 10px;
    }
    .a60{
        text-align: center;
        flex-wrap: wrap;
        height: 900px;
    }
    .a62{
        display: flex;
        justify-content: center;
    }
    .a63{
        width: 250px;
        height: 287px;
    }
    .a64{
        margin-top: -25px;
    }
    .a93{
        gap: 10px;
        display: flex;
        padding: 50px 0;
        justify-content: center;
    }
    .a94{
        text-align: center;
    }
    .a95{
        width: 250px;
        text-align: left;
        color: #493E3E;
        padding: 30px 0;
    }
    .a96{
        display: flex;
        justify-content: center;
        padding: 50px 0;
    }
    .a97{
        height: 157px;
        margin-top: 50px;
        margin-left: -90px;
    }
    .a67{
        text-align: center;
        flex-wrap: wrap;
        height: 500px;
    }
    .a73{
        flex-wrap: wrap;
    }
    .a98{
        margin-top: -100px;
    }
    .a99{
        display: none;
    }
}